Repository petteriTeikari/deep-biblio-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-emojis, validate-imports

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.6
    hooks:
      - id: ruff
        args: [ --fix ]
      - id: ruff-format

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-case-conflict  # Important for Windows/Mac compatibility

  # Cross-platform compatibility
  - repo: local
    hooks:
      - id: no-emojis
        name: No emojis allowed (except in markdown files)
        entry: uv run python scripts/check_no_emojis.py
        language: system
        files: '\.(py|sh|yml|yaml|json|toml|txt|cfg|ini|conf)$'
        exclude: '^(\.git/|node_modules/|venv/|\.venv/|.*\.md$)'

      - id: check-guardrails
        name: Check Claude guardrails compliance
        entry: uv run python scripts/check_guardrails.py
        language: system
        always_run: true
        pass_filenames: false

      # Disabled in favor of the more comprehensive enforce-no-regex-policy
      # - id: no-regex-parser
      #   name: No regex for structured parsing
      #   entry: uv run python scripts/check_no_regex_parsing.py
      #   language: system
      #   files: \.py$

      - id: enforce-no-regex-policy
        name: Comprehensive regex policy enforcement
        entry: uv run python scripts/enforce_no_regex_policy.py
        language: system
        always_run: true
        pass_filenames: false

      - id: validate-imports
        name: Validate import structure
        entry: uv run python scripts/validate_imports.py
        language: system
        files: ^src/.*\.py$

feat: Accept Zotero Web API keys as valid citation keys
  coverage.xml
  src/converters/md_to_latex/citation_manager.py
  src/converters/md_to_latex/utils.py
  test-results.xml
  test_better_bibtex_conversion.py
Due: no-emojis, validate-imports

docs: Reorganize documentation and fix naming violations
  docs/architecture/architecture.md
  docs/architecture/ecosystem.md
  docs/development/docker-first.md
  docs/known-issues/bibliography-extraction-issues.md
  docs/known-issues/citation-quality-issues.md
  docs/learnings/llm-citation-validation-learnings.md
  docs/planning/comprehensive-completion-plan.md
  docs/planning/comprehensive-context-for-openai.md
  docs/planning/deep-code-review-and-continuation-plan.md
  docs/planning/documentation-reorganization-plan.md
  docs/planning/mcp-citation-quality-plan.md
  docs/planning/multi-hypothesis-diagnostic-plan.md
  docs/planning/root-cause-analysis-and-fix-plan.md
  docs/planning/systematic-fix-plan.md
  docs/reference/bibtex-key-generation-guide.md
  docs/reference/citation-commands-guide.md
  docs/retrospectives/citation-audit-all-manuscripts.md
  docs/retrospectives/consolidation-summary.md
  docs/retrospectives/phase3-5-implementation-report.md
  docs/standards/bibliography-formatting-rules.md
  docs/troubleshooting/ampersand-issue-analysis.md
  docs/troubleshooting/citation-replacement-failure-report.md
  docs/troubleshooting/pdf-compilation-debugging.md
  docs/troubleshooting/pipeline-analysis.md
  readme-deep-biblio-tools.md
Due: none

feat: Add comprehensive implementation plan for citation pipeline fixes
  docs/planning/citation-pipeline-fix-implementation-plan.md
  src/converters/md_to_latex/utils.py
  src/converters/md_to_latex/zotero_integration.py
  test_better_bibtex_conversion.py
Due: no-emojis, validate-imports

test: Add comprehensive unit tests for citation pipeline fixes
  tests/unit/test_author_validation.py
  tests/unit/test_citation_manager_auto_add.py
Due: no-emojis

feat: Implement auto-add integration and fix author validation
  scripts/validate_bib_source.py
  src/converters/md_to_latex/citation_manager.py
Due: no-emojis, validate-imports

test: Fix unit tests and add validation helper functions
  scripts/validate_bib_source.py
  tests/unit/test_citation_manager_auto_add.py
Due: no-emojis

feat: Integrate _handle_missing_citation into extraction flow
  docs/retrospectives/citation-pipeline-auto-add-implementation.md
  src/converters/md_to_latex/citation_manager.py
Due: no-emojis, validate-imports

docs: Add Phase 4 integration test results and analysis
  docs/retrospectives/phase-4-integration-test-results.md
  src/cli_md_to_latex.py
Due: no-emojis, validate-imports

feat: Implement automatic author enrichment from CrossRef/arXiv APIs
  src/converters/md_to_latex/author_enrichment.py
  src/converters/md_to_latex/zotero_integration.py
  tests/unit/test_author_enrichment.py
Due: no-emojis, validate-imports

docs: Document Phase 5 author enrichment solution and testing
  docs/retrospectives/phase-5-author-enrichment-solution.md
Due: none

fix: Initialize collection_name from environment when not provided
  src/converters/md_to_latex/converter.py
  src/converters/md_to_latex/utils.py
Due: no-emojis, validate-imports

fix: Preserve underscores in LaTeX command arguments (citation keys)
  src/converters/md_to_latex/utils.py
Due: no-emojis, validate-imports

docs: Add comprehensive plans for citation quality and auto-add
  docs/markdown-to-latex-vision.md
  docs/planning/auto-add-with-quality-validation-plan.md
  docs/zotero-matching-vision.md
Due: none

feat: Implement Phase 1 of auto-add infrastructure (translation, validation, site mapping)
  docs/planning/synthesized-auto-add-plan.md
  src/converters/md_to_latex/entry_validator.py
  src/converters/md_to_latex/site_author_mapping.py
  src/converters/md_to_latex/translation_client.py
  tests/unit/test_site_author_mapping.py
Due: no-emojis, validate-imports

feat: Implement auto-add orchestration with PROVEN garbage-blocking validation
  src/converters/md_to_latex/zotero_auto_add.py
  tests/unit/test_entry_validator.py
Due: no-emojis, validate-imports

feat: Integrate auto-add functionality into production pipeline
  docs/planning/auto-add-integration-next-steps.md
  src/cli_md_to_latex.py
  src/converters/md_to_latex/citation_manager.py
  src/converters/md_to_latex/converter.py
Due: no-emojis, validate-imports

docs: Add comprehensive KB quality validation plans
  docs/planning/kb-quality-assurance-plan-concise.md
  docs/planning/test-plan-phased.md
  docs/planning/url-validation-comprehensive-fix-plan.md
Due: none

feat: Add markdown KB quality validator (Phase 1 - October 26 protection)
  pyproject.toml
  src/kb_quality/__init__.py
  src/kb_quality/cli.py
  src/kb_quality/url_validator.py
  tests/kb_quality/__init__.py
  tests/kb_quality/test_format_validation_mvp.py
Due: no-emojis, validate-imports

docs: Add comprehensive bibliography quality troubleshooting guide
  .claude/CLAUDE.md
  docs/troubleshooting/bibliography-quality-analysis.md
Due: none

feat(Phase 1): Enhance EntryValidator with stub title and domain-as-title checks
  src/converters/md_to_latex/entry_validator.py
  tests/unit/test_entry_validator.py
Due: no-emojis, validate-imports

feat(Phase 2): Add BibTeX Entry Validator for final quality gate
  src/converters/md_to_latex/bibtex_entry_validator.py
  tests/unit/test_bibtex_entry_validator.py
Due: no-emojis, validate-imports

feat(Phase 3): Add temp key validation to CitationManager
  src/converters/md_to_latex/citation_manager.py
Due: no-emojis, validate-imports

fix(Phase 3): Fix temp key validation tests and case-insensitive detection
  coverage.xml
  scripts/diagnose_bib_mismatch.py
  src/converters/md_to_latex/citation_manager.py
  test-results.xml
  tests/unit/test_citation_manager_temp_key_validation.py
Due: no-emojis, validate-imports

docs: Document three-layer validation implementation results
  docs/troubleshooting/bibliography-quality-analysis.md
Due: none

feat: Integrate validators and fix auto-add default
  docs/planning/validation-integration-strategy.md
  docs/troubleshooting/bibliography-quality-analysis.md
  src/converters/md_to_latex/converter.py
Due: no-emojis, validate-imports

docs: Comprehensive root cause analysis - citations + headings (Oct 30, 2025)
  docs/planning/consolidated-action-plan-2025-10-30.md
  docs/planning/root-cause-analysis-comprehensive-2025-10-30.md
Due: none

docs: Automated execution plan for PDF quality
  docs/planning/execution-plan-automated-2025-10-30.md
Due: none

fix: Add health check and enable section generation
  docs/planning/comprehensive-citation-fix-analysis-2025-10-30.md
  src/converters/md_to_latex/citation_manager.py
  src/converters/md_to_latex/converter.py
Due: no-emojis, validate-imports

fix: Store enable_auto_add and auto_add_dry_run as instance attributes
  src/converters/md_to_latex/converter.py
Due: no-emojis, validate-imports

fix: Store zotero_collection as instance attribute
  src/converters/md_to_latex/citation_manager.py
Due: no-emojis, validate-imports

docs: Add comprehensive STATUS.md for session recovery
  STATUS.md
Due: none

feat: Add graceful degradation and comprehensive analysis docs
  data/zotero_duplicate_edge_cases.bib
  data/zotero_duplicate_edge_cases.png
  docs/planning/honest-assessment-2025-10-30.md
  docs/planning/multi-hypothesis-analysis-2025-10-30.md
  src/cli_md_to_latex.py
  src/converters/md_to_latex/citation_manager.py
  src/converters/md_to_latex/converter.py
  src/converters/md_to_latex/translation_client.py
Due: no-emojis, validate-imports

docs: Update STATUS with honest assessment and next steps
  STATUS.md
Due: none

docs: Add prominent warning about references.bib being ephemeral
  .claude/CLAUDE.md
Due: none

docs: Work session progress - PDF quality fix iteration
  docs/work-session-2025-10-30-afternoon.md
Due: none

fix: Replace click.Exit with sys.exit for proper error handling
  src/cli_md_to_latex.py
Due: no-emojis, validate-imports

docs: Update work session with bug fix and conversion progress
  docs/work-session-2025-10-30-afternoon.md
Due: none

refactor: Implement modular bibliography source architecture
  docs/planning/bibliography-source-refactor-plan-2025-10-30.md
  scripts/deterministic_convert.py
  scripts/emergency_md_converter.py
  scripts/simple_local_converter.py
  src/converters/md_to_latex/bibliography_sources.py
  src/converters/md_to_latex/citation_manager.py
  src/converters/md_to_latex/converter.py
Due: no-emojis, validate-imports

WIP: Ban Better BibTeX, implement RDF-only emergency mode
  docs/planning/SYSTEMATIC-FIX-PLAN-2025-10-30-EVENING.md
  docs/planning/comprehensive-bibliography-fix-plan-2025-10-30.md
  scripts/deterministic_convert.py
  src/converters/md_to_latex/bibliography_sources.py
  src/converters/md_to_latex/citation_manager.py
  src/converters/md_to_latex/converter.py
Due: no-emojis, validate-imports

fix(converter): Complete Better BibTeX removal from converter.py
  src/converters/md_to_latex/converter.py
Due: no-emojis, validate-imports
