Repository petteriTeikari/deep-biblio-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-emojis, validate-imports

no-emojis:
  name: No emojis allowed (except in markdown files)
  entry: uv run python scripts/check_no_emojis.py
  language: system

validate-imports:
  name: Validate import structure
  entry: uv run python scripts/validate_imports.py
  language: system

docs(CLAUDE.md): Ban Better BibTeX keys from repository
  .claude/CLAUDE.md
Due: none

fix: Complete Better BibTeX ban and enable RDF-only emergency mode
  src/converters/md_to_latex/citation_manager.py
  src/converters/md_to_latex/converter.py
  src/converters/md_to_latex/utils.py
Due: no-emojis, validate-imports

docs: Add comprehensive test plan and systematic debugging documentation
  docs/planning/COMPREHENSIVE-TEST-PLAN-FOR-OPENAI-2025-10-30.md
  docs/planning/SYSTEMATIC-FLETCHER-AMAZON-DEBUG-2025-10-30-NIGHT.md
  src/converters/md_to_latex/citation_manager.py
Due: no-emojis, validate-imports

feat: Add bib_sanitizer.py with emergency mode and comprehensive tests
  docs/planning/OPENAI-FEEDBACK-ASSESSMENT-2025-10-30.md
  src/converters/md_to_latex/bib_sanitizer.py
  tests/test_bib_sanitizer.py
Due: no-emojis, validate-imports

fix: Clean internal flags before writing .bib and update CLAUDE.md
  .claude/CLAUDE.md
  coverage.xml
  docs/planning/EXECUTION-REPORT-2025-10-30-NIGHT.md
  scripts/verify_bbl_quality.py
  src/converters/md_to_latex/bib_sanitizer.py
  test-results.xml
Due: no-emojis, validate-imports

fix: Correct RDF parser to handle nested dcterms:URI structure
  docs/planning/EXECUTION-REPORT-2025-10-30-NIGHT.md
  src/converters/md_to_latex/bib_sanitizer.py
Due: no-emojis, validate-imports

docs: Complete execution report with comprehensive summary
  docs/planning/EXECUTION-REPORT-2025-10-30-NIGHT.md
Due: none

docs: Complete end-to-end bibliography quality verification
  docs/planning/VERIFICATION-REPORT-2025-10-30-NIGHT.md
Due: none

docs: Document two new critical failure modes
  docs/planning/COMPREHENSIVE-TEST-PLAN-FOR-OPENAI-2025-10-30.md
Due: none

fix: Extract URLs from nested dcterms:URI/rdf:value in RDF parser
  src/converters/md_to_latex/bibliography_sources.py
Due: no-emojis, validate-imports

docs: Save user's original prompt for matching issues analysis
  docs/planning/USER-PROMPT-MATCHING-ISSUES-2025-10-31.md
Due: none

feat: Add comprehensive logging to CitationMatcher for debugging
  docs/planning/COMPREHENSIVE-MATCHING-ANALYSIS-2025-10-31.md
  docs/planning/REFINED-PROMPT-MATCHING-ISSUES-2025-10-31.md
  docs/planning/STATUS-REFLECTION-2025-10-31.md
  src/converters/md_to_latex/citation_matcher.py
Due: no-emojis, validate-imports

fix: Use CitationMatcher for citation lookup (was being overwritten to None)
  docs/planning/ROOT-CAUSE-FOUND-2025-10-31.md
  src/converters/md_to_latex/citation_manager.py
Due: no-emojis, validate-imports

fix(rdf-parser): Add missing item types (BookSection, Recording, Patent)
  docs/planning/SECOND-ROOT-CAUSE-FOUND-2025-10-31.md
  scripts/analyze_rdf_structure.py
  scripts/debug_rdf_loading.py
  src/converters/md_to_latex/bibliography_sources.py
Due: no-emojis, validate-imports

docs: Add comprehensive night session completion report
  docs/planning/NIGHT-SESSION-COMPLETION-2025-10-31.md
Due: none

CRITICAL FIX: Disable auto-add and cache in emergency mode
  scripts/deterministic_convert.py
Due: no-emojis

docs: Add mea culpa for emergency mode violation
  docs/planning/EMERGENCY-MODE-VIOLATION-MEA-CULPA.md
Due: none

fix: Remove regex usage from fix_markdown_citations.py
  scripts/fix_markdown_citations.py
Due: no-emojis

docs: Complete synthesis for multi-LLM review of citation quality issues
  docs/planning/CITATION-QUALITY-SYNTHESIS-2025-10-31.md
  docs/planning/CITATION-VERIFICATION-REPORT-2025-10-31.md
  docs/planning/COMPLETE-SYNTHESIS-FOR-MULTI-LLM-REVIEW-2025-10-31.md
  docs/planning/COMPREHENSIVE-CITATION-QUALITY-PLAN-2025-10-31.md
  docs/planning/COMPREHENSIVE-QUALITY-ANALYSIS-2025-10-31.md
  docs/planning/failed-citations-analysis-2025-10-31.json
  scripts/analyze_failed_citations.py
  scripts/verify_citations.py
Due: no-emojis

docs: RDF parser debugging session - finds only 311/665 entries
  docs/planning/RDF-PARSER-DEBUG-SESSION-2025-10-31.md
  scripts/debug_filtering.py
  scripts/test_filtering_counters.py
  scripts/test_iteration.py
  scripts/test_parse_item.py
  scripts/test_rdf_missing_entries.py
  scripts/test_rdf_parsing.py
  src/converters/md_to_latex/bibliography_sources.py
  tests/test_rdf_parser_emergency_mode.py
Due: no-emojis, validate-imports

docs: Consolidated emergency mode plan - RDF parser is core blocker
  docs/planning/CONSOLIDATED-EMERGENCY-MODE-PLAN-2025-10-31.md
Due: none

docs: RDF parser issue documentation for external LLM review
  docs/planning/RDF-PARSER-ISSUE-FOR-EXTERNAL-REVIEW-2025-10-31.md
Due: none

fix: RDF parser now finds 664/665 entries (99.8% success)
  docs/planning/RDF-PARSER-FIX-RESULTS-2025-10-31.md
  src/converters/md_to_latex/bibliography_sources.py
Due: no-emojis, validate-imports

fix: Extract Amazon/DOI URLs from dc:identifier for correct citation keys
  docs/planning/AMAZON-BOOK-URL-ISSUE-2025-10-31.md
  src/converters/md_to_latex/bibliography_sources.py
  tests/test_rdf_parser_emergency_mode.py
Due: no-emojis, validate-imports

fix: Ban failedAutoAdd from .bib + Plan for emergency mode zero-fetch
  .claude/CLAUDE.md
  coverage.xml
  docs/planning/EMERGENCY-MODE-ZERO-FETCH-PLAN-2025-10-31.md
  src/converters/md_to_latex/citation_manager.py
  test-results.xml
  tests/test_rdf_parser_emergency_mode.py
Due: no-emojis, validate-imports

feat: Implement emergency mode zero-fetch guarantee
  .claude/CLAUDE.md
  scripts/analyze_failed_citations.py
  scripts/analyze_rdf_structure.py
  scripts/debug_filtering.py
  scripts/debug_rdf_loading.py
  scripts/deterministic_convert.py
  scripts/diagnose_bib_mismatch.py
  scripts/emergency_md_converter.py
  scripts/simple_local_converter.py
  scripts/test_filtering_counters.py
  scripts/test_iteration.py
  scripts/test_parse_item.py
  scripts/test_rdf_missing_entries.py
  scripts/test_rdf_parsing.py
  scripts/validate_bib_source.py
  scripts/verify_bbl_quality.py
  scripts/verify_citations.py
  src/cli_md_to_latex.py
  src/converters/md_to_latex/author_enrichment.py
  src/converters/md_to_latex/bib_sanitizer.py
  src/converters/md_to_latex/bibliography_sources.py
  src/converters/md_to_latex/citation_manager.py
  src/converters/md_to_latex/citation_matcher.py
  src/converters/md_to_latex/converter.py
  src/converters/md_to_latex/site_author_mapping.py
  src/converters/md_to_latex/translation_client.py
  src/converters/md_to_latex/utils.py
  src/converters/md_to_latex/zotero_auto_add.py
  src/converters/md_to_latex/zotero_integration.py
  src/kb_quality/cli.py
  src/kb_quality/url_validator.py
  test_better_bibtex_conversion.py
  tests/kb_quality/test_format_validation_mvp.py
  tests/test_bib_sanitizer.py
  tests/test_rdf_parser_emergency_mode.py
  tests/unit/test_author_enrichment.py
  tests/unit/test_author_validation.py
  tests/unit/test_citation_manager_auto_add.py
  tests/unit/test_site_author_mapping.py
Due: no-emojis, validate-imports

docs: Add comprehensive testing plan for mcp-draft-refined-v5
  docs/planning/COMPREHENSIVE-TESTING-PLAN-2025-10-31.md
Due: none

fix: HARD-CODED BAN on all metadata fetching (emergency mode)
  docs/planning/EMERGENCY-MODE-HARDCODED-BANS-PLAN-2025-10-31.md
  docs/retrospectives/SELF-REFLECTION-WHY-I-FAIL-2025-10-31.md
  src/converters/md_to_latex/citation_manager.py
  src/converters/md_to_latex/converter.py
Due: no-emojis, validate-imports

docs: Add citation classification and identifier matching background docs
  .claude/CLAUDE.md
  docs/planning/FIX-CITATION-MATCHING-ACTIONABLE-PLAN-2025-10-31.md
  docs/reference/bibtex-citation-generation-and-classification.md
  docs/reference/identifier-matching-strategies.md
Due: none

fix: Add non-academic domain exclusions to citation extractor
  src/converters/md_to_latex/citation_extractor_unified.py
Due: no-emojis, validate-imports

docs: Add TDD requirements and citation filtering execution plan
  .claude/CLAUDE.md
  docs/planning/FIX-CITATION-FILTERING-EXECUTION-PLAN-2025-10-31.md
  scripts/verify_citation_filtering.py
Due: no-emojis

fix: Linting errors - rename ambiguous variables
  scripts/verify_bbl_quality.py
  src/converters/md_to_latex/bib_sanitizer.py
Due: no-emojis, validate-imports

wip: Citation filtering fixes + emergency mode improvements
  docs/planning/FIX-CITATION-FILTERING-EXECUTION-PLAN-2025-10-31.md
  src/converters/md_to_latex/citation_extractor_unified.py
  src/converters/md_to_latex/citation_manager.py
  src/converters/md_to_latex/converter.py
Due: no-emojis, validate-imports

fix: Filter non-academic links from citation processing (2 extraction paths)
  docs/planning/FINAL-STATUS-CITATION-FILTERING-2025-10-31.md
  docs/planning/ROOT-CAUSE-ANALYSIS-2025-10-31-23H54.md
  src/converters/md_to_latex/citation_extractor_unified.py
  src/converters/md_to_latex/citation_manager.py
Due: no-emojis, validate-imports

docs: Create comprehensive citation management documentation system
  .claude/CITATION-REQUIREMENTS.md
  .claude/CLAUDE.md
  .claude/auto-context.yaml
  .claude/bbl-hardcoding-guide.md
  .claude/citation-classification-rules.md
  .claude/emergency-mode-specification.md
  .claude/quality-verification-checklist.md
  src/converters/md_to_latex/converter.py
Due: no-emojis, validate-imports

Path conditions:
  no-emojis: any of: \.(py|sh|yml|yaml|json|toml|txt|cfg|ini|conf)$, but not: ^(\.git/|node_modules/|venv/|\.venv/|.*\.md$)
  validate-imports: any of: ^src/.*\.py$
