Repository petteriTeikari/deep-biblio-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-emojis, validate-imports

no-emojis:
  name: No emojis allowed (except in markdown files)
  entry: uv run python scripts/check_no_emojis.py
  language: system

validate-imports:
  name: Validate import structure
  entry: uv run python scripts/validate_imports.py
  language: system

feat: Add production-grade reproducibility framework for arXiv conversion
  .DS_Store
  .github/workflows/reproducibility-check.yml
  ci/reproducibility-checklist.yml
  ci/run_reproducibility_check.py
  docs/IMPROVEMENTS-from-openai-suggestions.md
  docs/PLAN-arxiv-conversion-summary.md
  docs/PLAN-arxiv-ready-conversion-validation.md
  tests/test-files/test-markdown-edge-cases.md
Due: no-emojis

fix: Replace Unicode citation key suffixes with alphabetic suffixes
  src/converters/md_to_latex/citation_manager.py
Due: no-emojis, validate-imports

docs: Update fix plan with completion status and implementation details
  docs/fix-plan-unicode-citation-keys.md
Due: none

fix: Replace "Unknown" author/year with BibTeX-compatible values
  src/converters/md_to_latex/citation_manager.py
Due: no-emojis, validate-imports

fix: Add UTF-8 to ASCII transliteration for BibTeX compatibility
  ci/run_reproducibility_check.py
  docs/active-fix-plan.md
  src/converters/md_to_latex/citation_manager.py
  src/converters/md_to_latex/latex_builder.py
  src/converters/md_to_latex/utils.py
Due: no-emojis, validate-imports

docs: Add conversion test results and findings
  .DS_Store
  conversion_history.json
  conversion_results.json
  docs/FINDINGS-citation-matching.md
  docs/mcp-conversion-failures.md
  docs/plea-to-openai-citation-matching-v2.md
  docs/plea-to-openai-citation-matching.md
Due: no-emojis

feat: Add robust citation matching with ISBN and arXiv fallbacks
  conversion_history.json
  conversion_results.json
  docs/plea-to-openai-robust-matching.md
  src/converters/md_to_latex/converter.py
  src/converters/md_to_latex/utils.py
Due: no-emojis, validate-imports

feat: Add production-grade CitationMatcher with multi-strategy matching
  conversion_history.json
  conversion_results.json
  src/converters/md_to_latex/citation_matcher.py
  src/converters/md_to_latex/converter.py
Due: no-emojis, validate-imports

docs: Post-mortem and cleanup instructions for Zotero disaster
  docs/citation-issues-to-fix.md
  docs/post-mortem-garbage-zotero-additions.md
  docs/workflow-mcp-paper-conversion.md
  scripts/add_unknown_citations_to_zotero.py
  scripts/fix_anchor_citations.py
  scripts/fix_invalid_arxiv_citations.py
  scripts/remove_non_citations_from_zotero.py
  scripts/validate_all_citations.py
  scripts/verify_author_names.py
Due: no-emojis

docs: Add recovery plan with translation-server approach
  docs/recovery-plan-with-translation-server.md
Due: none

feat: Add automated Zotero cleanup scripts
  scripts/run_zotero_cleanup.sh
  scripts/zotero_add_proper_entries.py
  scripts/zotero_delete_items.py
  scripts/zotero_list_suspects.py
Due: no-emojis

feat: Implement direct Zotero Web API integration for bibliography management
  .claude/CLAUDE.md
  .env.example
  SESSION-STATUS-REPORT.md
  docs/BIBLIOGRAPHY-WORKFLOW-EXPLAINED.md
  docs/plan-zotero-direct-integration.md
  docs/zotero-api-integration-complete.md
  docs/zotero-cleanup-report.md
  entries_without_authors.json
  scripts/add_ellen_macarthur_pdf.py
  scripts/add_remaining_dois.py
  scripts/analyze_zotero_json.py
  scripts/check_entries_without_authors.py
  scripts/find_missing_bibtex.py
  scripts/test_zotero_api_load.py
  scripts/zotero_add_via_api.py
  scripts/zotero_add_with_translator.py
  scripts/zotero_delete_items.py
  src/cli.py
  src/converters/md_to_latex/converter.py
  src/converters/md_to_latex/zotero_integration.py
  urls_manual_add_needed.txt
  urls_to_readd.txt
  zotero_suspects.json
Due: no-emojis, validate-imports

docs: Add comprehensive REPOSITORY-VISION synthesizing 3 days of work
  docs/REPOSITORY-VISION.md
Due: none

fix: Distinguish citations from hyperlinks and add missing citations report
  .claude/CLAUDE.md
  src/converters/md_to_latex/citation_extractor_unified.py
  src/converters/md_to_latex/converter.py
Due: no-emojis, validate-imports

feat: Add CSV export for missing citations review
  src/converters/md_to_latex/converter.py
Due: no-emojis, validate-imports

fix: Support comma format citations [Author et al., 2020](URL)
  src/converters/md_to_latex/citation_extractor_unified.py
Due: no-emojis, validate-imports

refactor: Simplify citation detection to be more robust
  src/converters/md_to_latex/citation_extractor_unified.py
Due: no-emojis, validate-imports

docs: Add comprehensive anti-brittleness infrastructure and failure analysis
  .DS_Store
  .claude/CLAUDE.md
  docs/APPENDIX-OPENAI-RECOMMENDATIONS.md
  docs/CRITICAL-REGRESSION-ANALYSIS.md
  docs/IMPLEMENTATION-PLAN-ANTI-BRITTLENESS.md
  docs/SESSION-END-SUMMARY.md
  docs/SESSION-SUMMARY-2025-10-26.md
  src/cli.py
  src/converters/md_to_latex/converter.py
  src/converters/md_to_latex/debug_logger.py
  src/converters/md_to_latex/utils.py
  src/converters/md_to_latex/zotero_integration.py
Due: no-emojis, validate-imports

feat: Add comprehensive Stage 1-6 debug logging to citation pipeline
  src/converters/md_to_latex/converter.py
Due: no-emojis, validate-imports

fix: Remove references to non-existent original_text attribute in debug logging
  src/converters/md_to_latex/converter.py
Due: no-emojis, validate-imports

feat: Add anti-brittleness infrastructure (Phase 1 - 80% complete)
  docs/BIBTEX-KEY-MISMATCH-BUG.md
  scripts/run_debug_conversion.py
  src/converters/md_to_latex/converter.py
  tests/fixtures/debug-runs/mcp-draft-refined-v4-20251026-230745/debug-01-extracted-citations.json
  tests/fixtures/debug-runs/mcp-draft-refined-v4-20251026-230745/debug-03-citation-keys-generated.json
  tests/fixtures/debug-runs/mcp-draft-refined-v4-20251026-230745/debug-04-bibtex-validation.json
  tests/fixtures/debug-runs/mcp-draft-refined-v4-20251026-230745/debug-04-references.bib
  tests/fixtures/debug-runs/mcp-draft-refined-v4-20251026-230745/debug-05-latex-citations.json
  tests/fixtures/debug-runs/mcp-draft-refined-v4-20251026-230745/debug-06-pdf-validation.json
  tests/fixtures/golden-matching-results.json
Due: no-emojis, validate-imports

feat: Complete Phase 1 - Anti-Brittleness Safety Infrastructure
  tests/test_citation_pipeline.py
Due: no-emojis

feat: Complete Phase 2 - CI/CD and Pre-commit Integration
  .github/workflows/test-citations.yml
  .pre-commit-config.yaml
Due: no-emojis

feat: Phase 3 Part 1 - Fix arXiv URL deduplication in citation extractor
  docs/BIBTEX-KEY-MISMATCH-BUG.md
  src/converters/md_to_latex/citation_extractor_unified.py
Due: no-emojis, validate-imports

fix: Use Zotero BibTeX keys instead of generated keys (Phase 3 Part 2)
  docs/BIBTEX-KEY-MISMATCH-BUG.md
  src/converters/md_to_latex/converter.py
  tests/fixtures/debug-runs/mcp-draft-refined-v4-20251027-000434/debug-01-extracted-citations.json
  tests/fixtures/debug-runs/mcp-draft-refined-v4-20251027-000434/debug-03-citation-keys-generated.json
  tests/fixtures/debug-runs/mcp-draft-refined-v4-20251027-000434/debug-04-bibtex-validation.json
  tests/fixtures/debug-runs/mcp-draft-refined-v4-20251027-000434/debug-04-references.bib
  tests/fixtures/debug-runs/mcp-draft-refined-v4-20251027-000434/debug-05-latex-citations.json
  tests/fixtures/debug-runs/mcp-draft-refined-v4-20251027-000434/debug-06-pdf-validation.json
  tests/fixtures/golden-matching-results.json
  tests/test_citation_pipeline.py
Due: no-emojis, validate-imports

feat: Consolidate consecutive citations and sort chronologically
  src/converters/md_to_latex/post_processing.py
Due: no-emojis, validate-imports

docs: Add arXiv LaTeX style template and documentation
  docs/LATEX-STYLE-ARXIV.md
  src/converters/md_to_latex/latex_builder.py
  src/converters/md_to_latex/templates/arxiv/README.md
  src/converters/md_to_latex/templates/arxiv/preamble.tex
Due: no-emojis, validate-imports

feat: Add Zotero audit script and fix BBL transformer
  scripts/audit_zotero_collection.py
  src/converters/md_to_latex/bbl_transformer.py
  src/converters/md_to_latex/converter.py
  src/converters/md_to_latex/spbasic_pt.bst
Due: no-emojis, validate-imports

fix: Fix BBL transformer cite key extraction and URL removal
  src/converters/md_to_latex/bbl_transformer.py
  tests/test_bbl_transformer.py
Due: no-emojis, validate-imports

test: Add integration tests for MD-to-LaTeX pipeline
  tests/test_md_to_latex_integration.py
Due: no-emojis

ci: Add explicit BBL transformer test steps to CI workflow
  .github/workflows/test-citations.yml
Due: no-emojis

docs: Add comprehensive BBL transformer implementation summary
  docs/bbl-transformer-implementation.md
Due: none

fix: Rename documentation files to lowercase per naming convention
  SESSION-STATUS-REPORT.md
  docs/APPENDIX-OPENAI-RECOMMENDATIONS.md
  docs/BIBLIOGRAPHY-WORKFLOW-EXPLAINED.md
  docs/BIBTEX-KEY-MISMATCH-BUG.md
  docs/CRITICAL-REGRESSION-ANALYSIS.md
  docs/FINDINGS-citation-matching.md
  docs/IMPLEMENTATION-PLAN-ANTI-BRITTLENESS.md
  docs/IMPROVEMENTS-from-openai-suggestions.md
  docs/LATEX-STYLE-ARXIV.md
  docs/PLAN-arxiv-conversion-summary.md
  docs/PLAN-arxiv-ready-conversion-validation.md
  docs/REPOSITORY-VISION.md
  docs/SESSION-END-SUMMARY.md
  docs/SESSION-SUMMARY-2025-10-26.md
Due: none

fix: Correct test expectation for 'et al.' formatting
  docs/test-failure-resolution-plan.md
  tests/converters/md_to_latex/test_citation_manager.py
Due: no-emojis

fix: Expand DOI extraction to support generic /doi/ URL paths
  src/converters/md_to_latex/utils.py
Due: no-emojis, validate-imports

fix: Add division by zero guards for citation statistics
  src/converters/md_to_latex/converter.py
Due: no-emojis, validate-imports

fix: Adjust NeRF test expectations for ACM DOI shortened titles
  tests/test_nerf_citation.py
Due: no-emojis

fix: Add test isolation fixture for Zotero environment variables
  tests/converters/md_to_latex/test_zotero_integration.py
Due: no-emojis

style: Apply ruff formatting to test files
  scripts/audit_zotero_collection.py
  tests/test_zotero_cli.py
Due: no-emojis

Path conditions:
  no-emojis: any of: \.(py|sh|yml|yaml|json|toml|txt|cfg|ini|conf)$, but not: ^(\.git/|node_modules/|venv/|\.venv/|.*\.md$)
  validate-imports: any of: ^src/.*\.py$
