Repository petteriTeikari/deep-biblio-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-emojis, validate-imports

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.6
    hooks:
      - id: ruff
        args: [ --fix ]
      - id: ruff-format

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-case-conflict  # Important for Windows/Mac compatibility

  # Cross-platform compatibility
  - repo: local
    hooks:
      - id: no-emojis
        name: No emojis allowed (except in markdown files)
        entry: uv run python scripts/check_no_emojis.py
        language: system
        files: '\.(py|sh|yml|yaml|json|toml|txt|cfg|ini|conf)$'
        exclude: '^(\.git/|node_modules/|venv/|\.venv/|.*\.md$)'

      - id: check-guardrails
        name: Check Claude guardrails compliance
        entry: uv run python scripts/check_guardrails.py
        language: system
        always_run: true
        pass_filenames: false

      # Disabled in favor of the more comprehensive enforce-no-regex-policy
      # - id: no-regex-parser
      #   name: No regex for structured parsing
      #   entry: uv run python scripts/check_no_regex_parsing.py
      #   language: system
      #   files: \.py$

      - id: enforce-no-regex-policy
        name: Comprehensive regex policy enforcement
        entry: uv run python scripts/enforce_no_regex_policy.py
        language: system
        always_run: true
        pass_filenames: false

      - id: validate-imports
        name: Validate import structure
        entry: uv run python scripts/validate_imports.py
        language: system
        files: ^src/.*\.py$

docs: Update test resolution plan with completion status
  docs/test-failure-resolution-plan.md
Due: none

docs: Add comprehensive E2E test plan with OpenAI feedback synthesis
  docs/COMPACT-TEST-PLAN.md
  docs/COMPREHENSIVE-TEST-PLAN.md
  docs/OPENAI-FEEDBACK-SYNTHESIS.md
  docs/TEST-PLAN-SUMMARY.md
Due: none

feat: Add E2E test infrastructure with PDF and LaTeX helpers
  .DS_Store
  pyproject.toml
  pytest.ini
  tests/e2e/__init__.py
  tests/e2e/helpers_latex.py
  tests/e2e/helpers_pdf.py
  uv.lock
Due: no-emojis

feat: Add E2E PDF content validation tests
  tests/e2e/helpers_latex.py
  tests/e2e/test_pdf_content.py
Due: no-emojis

feat: Add E2E PDF structural validation tests
  tests/e2e/helpers_pdf.py
  tests/e2e/test_pdf_structure.py
Due: no-emojis

feat: Add E2E LaTeX compilation tests + REAL WORLD validation
  tests/e2e/test_latex_compilation.py
Due: no-emojis

feat: Add output cleanup and fix E2E test isolation
  src/converters/md_to_latex/converter.py
  tests/e2e/test_latex_compilation.py
  tests/e2e/test_pdf_content.py
  tests/e2e/test_pdf_structure.py
Due: no-emojis, validate-imports

docs: Add E2E test planning documentation (lowercase filenames)
  docs/COMPACT-TEST-PLAN.md
  docs/COMPREHENSIVE-TEST-PLAN.md
  docs/OPENAI-FEEDBACK-SYNTHESIS.md
  docs/TEST-PLAN-SUMMARY.md
Due: none

feat: Add --collection CLI option for md2latex command
  src/cli.py
Due: no-emojis, validate-imports

fix: Run bibtex in correct sequence and unescape math dollars
  src/converters/md_to_latex/converter.py
Due: no-emojis, validate-imports

fix: Partial fix for bibtex path issue - use relative path check
  docs/fashion-papers-implementation-plan.md
  docs/fashion-papers-tonight-plan.md
  src/converters/md_to_latex/converter.py
Due: no-emojis, validate-imports

fix: Resolve bibtex path issues and math equation escaping
  src/converters/md_to_latex/converter.py
Due: no-emojis, validate-imports

fix: Use character-by-character parsing for LaTeX escaping
  src/converters/md_to_latex/converter.py
Due: no-emojis, validate-imports

feat: Add comprehensive debug logging to citation extraction and replacement
  AMPERSAND_ISSUE_ANALYSIS.md
  SYSTEMATIC_FIX_PLAN.md
  src/converters/md_to_latex/citation_extractor_unified.py
  src/converters/md_to_latex/citation_manager.py
  src/converters/md_to_latex/converter.py
Due: no-emojis, validate-imports

feat: Write debug artifacts at each conversion stage
  .gitignore
  src/converters/md_to_latex/converter.py
Due: no-emojis, validate-imports

feat: Apply URL normalization to citation extraction and replacement
  src/converters/md_to_latex/citation_extractor_unified.py
  src/converters/md_to_latex/citation_manager.py
Due: no-emojis, validate-imports

feat: Implement AST-based citation replacement using markdown-it-py
  src/converters/md_to_latex/citation_manager.py
Due: no-emojis, validate-imports

docs: Add Phase 3-5 implementation report
  PHASE3-5-IMPLEMENTATION-REPORT.md
Due: none

docs: Add comprehensive diagnostic plans for citation replacement failure
  CITATION-REPLACEMENT-FAILURE-REPORT.md
  MULTI-HYPOTHESIS-DIAGNOSTIC-PLAN.md
  ROOT-CAUSE-ANALYSIS-AND-FIX-PLAN.md
Due: none

fix: Fix AST-based citation replacement with 3 critical root causes
  src/converters/md_to_latex/citation_manager.py
  src/converters/md_to_latex/converter.py
Due: no-emojis, validate-imports

fix: Strip HTML tags and entities from markdown-it renderer output
  src/converters/md_to_latex/citation_manager.py
Due: no-emojis, validate-imports

fix: Remove incorrect .group(1) calls on string arxiv_id_match
  .claude/COMPREHENSIVE-COMPLETION-PLAN.md
  src/converters/md_to_latex/citation_manager.py
Due: no-emojis, validate-imports

feat: Add unified citation validation tool with audit reports
  .claude/CITATION-AUDIT-ALL-MANUSCRIPTS.md
  .claude/CITATION-QUALITY-ISSUES.md
  scripts/validate_citations.py
Due: no-emojis

feat: Add Citation Quality MCP Server with 5 audit tools
  .claude/MCP-CITATION-QUALITY-PLAN.md
  mcp_servers/__init__.py
  mcp_servers/citation_quality/__init__.py
  mcp_servers/citation_quality/server.py
  mcp_servers/citation_quality/tools/__init__.py
  mcp_servers/citation_quality/tools/audit.py
  mcp_servers/citation_quality/tools/bibtex_keys.py
  mcp_servers/citation_quality/tools/link_health.py
  mcp_servers/citation_quality/tools/url_quality.py
  mcp_servers/citation_quality/tools/zotero_match.py
  mcp_servers/citation_quality/utils/__init__.py
  mcp_servers/citation_quality/utils/url_analyzer.py
  pyproject.toml
  uv.lock
Due: no-emojis

feat: Add audit flag and regression tests for 4 papers
  src/cli.py
  tests/e2e/test_regression_4_papers.py
Due: no-emojis, validate-imports

test: Add assert_no_missing_citations helper for regression tests
  tests/e2e/helpers_pdf.py
Due: no-emojis

feat: Add golden dataset for MD→LaTeX→PDF regression testing
  scripts/export_zotero_snapshot.py
  tests/fixtures/golden/README.md
  tests/fixtures/golden/bibliography/dpp-fashion-snapshot.bib
  tests/fixtures/golden/manuscripts/fashion_3D_CAD.md
  tests/fixtures/golden/manuscripts/fashion_4DGS.md
  tests/fixtures/golden/manuscripts/fashion_LCA.md
  tests/fixtures/golden/manuscripts/mcp_review.md
Due: no-emojis

docs: Add comprehensive code review and continuation plan
  DEEP-CODE-REVIEW-AND-CONTINUATION-PLAN.md
Due: none

refactor: Clean up production code and implement MCP tool stubs
  DEEP-CODE-REVIEW-AND-CONTINUATION-PLAN.md
  README.md
  mcp_servers/citation_quality/tools/bibtex_keys.py
  mcp_servers/citation_quality/tools/zotero_match.py
  src/converters/md_to_latex/citation_manager.py
Due: no-emojis, validate-imports

docs: Add Dropbox recovery tools and session incident summary
  docs/dropbox-recovery.md
  docs/session-2025-10-28-recovery-summary.md
  scripts/check_dropbox_versions.py
Due: no-emojis

feat: Add comprehensive bibliography validation infrastructure
  .claude/CLAUDE.md
  .coveragerc
  pytest.ini
  scripts/analyze_bbl_output.py
  scripts/diagnose_bib_issues.py
  src/cli_md_to_latex.py
  src/converters/md_to_latex/converter.py
  tests/validation/__init__.py
  tests/validation/test_bib_parser.py
  tests/validation/test_doi_validator.py
  tests/validation/test_validation_pipeline.py
Due: no-emojis, validate-imports

docs: Add Better BibTeX key strategy and implementation analysis
  .claude/CLAUDE.md
  docs/better-bibtex-key-strategy.md
  docs/complete-learnings-and-enforcement.md
  docs/openai-suggestion-critical-review.md
  scripts/extract_bbl_entries_raw.py
  scripts/validate_bib_source.py
Due: no-emojis

feat(phase1): Disable citation key generation, enforce Zotero Better BibTeX keys
  coverage.xml
  pytest.ini
  scripts/analyze_bbl_output.py
  scripts/check_dropbox_versions.py
  scripts/diagnose_bib_issues.py
  scripts/extract_bbl_entries_raw.py
  scripts/validate_bib_source.py
  src/converters/md_to_latex/citation_manager.py
  src/converters/md_to_latex/utils.py
  test-results.xml
  tests/converters/md_to_latex/test_citation_manager.py
  tests/converters/md_to_latex/test_converter.py
  tests/converters/md_to_latex/test_utils.py
  tests/e2e/test_latex_compilation.py
  tests/e2e/test_pdf_content.py
  tests/e2e/test_pdf_structure.py
  tests/e2e/test_regression_4_papers.py
  tests/test_citation_pipeline.py
  tests/test_nerf_citation.py
  tests/validation/test_bib_parser.py
  tests/validation/test_doi_validator.py
  tests/validation/test_validation_pipeline.py
Due: no-emojis, validate-imports

feat(phase2): Add load_collection_with_keys() to ZoteroClient
  src/converters/md_to_latex/zotero_integration.py
  test-results.xml
Due: no-emojis, validate-imports

feat(phase3): Integrate Zotero Better BibTeX keys in Citation Manager
  src/converters/md_to_latex/citation_manager.py
  test-results.xml
Due: no-emojis, validate-imports

test(phase5): Add tests for Better BibTeX key integration
  test-results.xml
  tests/converters/md_to_latex/test_zotero_integration.py
Due: no-emojis

docs: Update Better BibTeX plan with actual implementation times and learnings
  docs/better-bibtex-key-strategy.md
Due: none

feat: Wire up Zotero collection parameter to enable Better BibTeX keys
  src/converters/md_to_latex/converter.py
  test-results.xml
Due: no-emojis, validate-imports

fix: Add hard error when Better BibTeX credentials are missing
  coverage.xml
  src/converters/md_to_latex/citation_manager.py
  test-results.xml
  test_better_bibtex_conversion.py
  tests/converters/md_to_latex/test_citation_manager.py
Due: no-emojis, validate-imports

fix: Block format_bibtex() key generation in Better BibTeX mode
  coverage.xml
  src/converters/md_to_latex/citation_manager.py
  src/converters/md_to_latex/zotero_integration.py
  test-results.xml
Due: no-emojis, validate-imports
